#mainTable td, th  {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  padding: 0;
}

body {
}

.menu {
  height: 250px;
  width: 450px;
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#msgDiv {
   width: 500px;
   height: 50px;
   border-style: solid;
   border-width: 1px;
   white-space: pre-wrap;
}

div {
  height: 100%;
}

td {
  width: 10px;
  height: 1px;
}

div.clicked {
  background-color: green;
  height: 100%;
}